.movie-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.movie-poster {
    width: 300px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.movie-title {
    font-size: 2em;
    margin-bottom: 10px;
}

.movie-release-date,
.movie-overview {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
    max-width: 800px;
}