.movieDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.moviePoster {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.moviePoster:hover {
    transform: scale(1.05);
}

.movieTitle {
    font-size: 1.5em;
    margin-bottom: 5px;
    text-align: center;
    color: #333;
}

.movieReleaseDate,
.movieOverview,
.movieVotes {
    font-size: 1em;
    margin-bottom: 5px;
    text-align: center;
    max-width: 600px;
    color: #555;
}

.movieVotes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stars {
    color: #ffbf00;
}

.voteCount {
    margin-left: 5px;
    color: #666;
}

.fas {
    margin-right: 3px;
}
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 100px;
    height: 100px;
    
}


/* Tablets: 768px and above */
@media (min-width: 768px) {
    .moviePoster {
        /* max-width: 300px; */
    }

    .movieTitle {
        font-size: 1.8em;
    }

    .movieReleaseDate,
    .movieOverview,
    .movieVotes {
        font-size: 1.2em;
    }
}

/* Netbooks: 1024px and above */
@media (min-width: 1024px) {
    .moviePoster {
        /* max-width: 350px; */
    }

    .movieTitle {
        font-size: 2em;
    }

    .movieReleaseDate,
    .movieOverview,
    .movieVotes {
        font-size: 1.4em;
    }
}

.backButton {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #5398cd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.backButton:hover {
    background-color: #608bb6;
}