.footerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5398cd;
  padding: 10px 20px;
}

.socialLinks {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.socialBtn {
  display: inline-block;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.socialIcon {
  width: 30px;
  height: 30px;
}

.socialBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
