@charset "UTF-8";
.appHeader {
  width: 100%;
  height: 100%;
}

.imgBody {
  width: 100%;
  height: 100%;
}

.imgHeader {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Растягиваем изображение до заполнения контейнера */
}


