@charset "UTF-8";

.appHeader {
    width: 100%;
    height: 100%;
}

.imgBody {
    width: 100%;
    height: 100%;
}

.imgHeader {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 100px;
    height: 100px;
}