@charset "UTF-8";

.serials {
    width: 100%;
    height: 100%;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 100px;
    height: 100px;

}



