.movieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.movieItem {
  flex: 1 1 calc(100% - 40px);
  max-width: 200px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  height: auto;
}

.movieItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.moviePoster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 100px;
  /* Adjust size as needed */
  height: 100px;
  /* Adjust size as needed */
}

/* Медиазапросы для списков фильмов */

/* Tablets: 768px and above */
@media (min-width: 768px) {
  .movieItem {
    flex: 1 1 calc(33.33% - 40px);
    max-width: 30%;
  }
}

/* Netbooks: 1024px and above */
@media (min-width: 1024px) {
  .movieItem {
    flex: 1 1 calc(25% - 40px);
    max-width: 22%;
  }
}

/* Monitors: 1280px and above */
@media (min-width: 1280px) {
  .movieItem {
    flex: 1 1 calc(20% - 40px);
    max-width: 18%;
  }
}

/* Larger Monitors: 1600px and above */
@media (min-width: 1600px) {
  .movieItem {
    flex: 1 1 calc(16.66% - 40px);
    max-width: 15%;
  }
}

/* Ultra-wide Monitors: 1920px and above */
@media (min-width: 1920px) {
  .movieItem {
    flex: 1 1 calc(16.66% - 40px);
    max-width: 15%;
  }
}
