.movieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #f0f0f0;
}

.movieItem {
  flex: 1 1 calc(100% - 40px);
  max-width: 200px;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  height: auto;
}

.movieItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.moviePoster {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 100px;
  height: 100px;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 5px;
}

.paginationContainer button,
.paginationContainer span {
  background-color: #5398cd;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paginationContainer button:hover {
  background-color: #608bb6;
}

.paginationContainer span {
  background-color: transparent;
  color: #000;
  cursor: default;
}

.activePage {
  background-color: #5398cd !important;
}

/* Media queries for responsive layout */
@media (min-width: 768px) {
  .movieItem {
    flex: 1 1 calc(33.33% - 40px);
    max-width: 30%;
  }
}

@media (min-width: 1024px) {
  .movieItem {
    flex: 1 1 calc(25% - 40px);
    max-width: 22%;
  }
}

@media (min-width: 1280px) {
  .movieItem {
    flex: 1 1 calc(20% - 40px);
    max-width: 18%;
  }
}

@media (min-width: 1600px) {
  .movieItem {
    flex: 1 1 calc(16.66% - 40px);
    max-width: 15%;
  }
}

@media (min-width: 1920px) {
  .movieItem {
    flex: 1 1 calc(16.66% - 40px);
    max-width: 15%;
  }
}