.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* Распределяем элементы по ширине контейнера */
}

.movie-item {
  width: calc(25% - 20px);
  /* Вычисляем ширину каждого элемента с учетом отступов */
  margin: 10px;
  /* Отступы между элементами */
}

.movie-poster {
  width: 100%;
  /* Чтобы изображение занимало всю доступную ширину элемента */
  height: 100%;
  /* Автоматически подстраиваем высоту изображения */
}